html {
  --section-background-color: rgba(10, 10, 25, 0.554);

  --image-gradient: rgba(29, 14, 53, 0.563);

  --imp-text-color: #c770f0;
}

.purple {
  color: var(--imp-text-color) !important;
}


/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  min-width: 10rem;
  min-height: 10rem
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  /* transform: scale(1.02) !important; */
  overflow: hidden !important;
  border: 1.7px solid rgba(197, 115, 230, 0.883) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}

.like-item {
  padding-top: 10px !important;
  font-size: 1.1em !important;
  font-family: sans-serif !important;
}

.like-btn {
  background-color: #934cce5e !important;
  border-color: #934cce5e !important;
  padding: 0.25rem 0.98rem !important;
  border-radius: 5px !important;
  line-height: 1.4 !important;
  transition: 0.3s ease !important;
}

.glass {
  background-color: rgba(37,38,42,.4392156862745098);
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  border-left: 1px solid hsla(0,0%,98.8%,.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: hidden;
  position: relative;
}

.glass:before, .light:after {
  content: "";
  position: absolute;
  transition: all .5s ease-in-out;
}
.glass:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(270deg,hsla(0,0%,98.8%,.1),transparent);
  transform: skewX(45deg) translateX(0);
}

.glass:hover:before {
  transform: skewX(45deg) translateX(300%);
}

.light:after {
  bottom: -5px;
  left: 50%;
  background-image: linear-gradient(0deg,var(--imp-text-color),transparent);
  width: 80%;
  height: 10px;
  transform: translate(-50%);
  -webkit-filter: blur(15px);
  filter: blur(15px);
}

.skill {
  height: 140px;
  margin: 10px;
  flex-direction: column;
  border-radius: 5px;
  z-index: 1;
  transition: all .3s;
}

.like-btn:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}

.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}
@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: #934cce5e !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

p {
  font-size: 1rem;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}
.fork-btn-inner::after {
  display: none !important;
}

.project-div {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.3) !important;
  max-width: 550px;
  margin: 20px auto;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
  align-items: flex-start;
  transition: all .3s ease-in-out;
  background-color: transparent !important;
  position: relative;
}

.project-card:hover .glass {
  backdrop-filter: blur(5px);
}

.project-card .skill {
  width: 2.5rem !important;
  height: 2.5rem !important;
  font-size: 1.5rem;
  margin: 5px;
}

.project-card .tech-icons {
  width: 2rem !important;
  height: 2rem !important;
  min-height: 2rem !important;
  min-width: 2rem !important;
  padding: 0 !important;
  margin: 0 5px !important;
  font-size: 1.5rem !important;
}

.project-card .tech-icons:hover {
  transform: scale(1.00) !important;
  border: 1.7px solid rgba(197, 115, 230, 0.883) !important;
}

@media (max-width: 1000px) {
  .home-content {
    padding: 3rem 0 2rem !important;
  }  
}


@media (max-width: 767px) {
  .home-content {
    padding: 0rem 0 2rem !important;
  }  
  .main-resume {
    margin-top: 10% !important;
  }
}

/* .second-color {
  background-color: rgb(10, 4, 22) !important;
} */
.project-heading{
  color: black;
}